{% extends "base.html" %}

{% block page_content %}

<section id="intro" class="fbp-section">
   <div class="container">
   <div class="row jumbotron">
            <h1>Init Section</h1>
            <a class="btn btn-primary page-scroll" href="#section2">Section2</a>
   </div>
   </div>
</section>

<section id="section1" class="fbp-section bg-gray">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h1>Section 1</h1>
         </div>
      </div>
   </div>
</section>

<section id="section2" class="fbp-section">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h1>Section 2</h1>
         </div>
      </div>
   </div>
</section>

<section id="section3" class="fbp-section bg-gray">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h1>Section 3</h1>
         </div>
      </div>
   </div>
</section>

{% endblock %}
